{% extends 'layout/base.html' %}

{% block title %}로비{% endblock %}

{% block content %}
<main>
    <div class="container p-4 p-md-3">
        <div class="input-group">
            <span class="input-group-text">사용자</span>
            <input type="text" id="username" class="form-control" maxlength="7">
        </div>
        <form id="loby_form" class="input-group my-3" method="post" action="{% url 'chat:room' %}">
            {% csrf_token %}
            <input type="hidden" id="room_id" name="room_id" value="">
            <input type="hidden" id="uuid" name="uuid" value="">
            <span class="input-group-text">방 이름</span>
            <input type="text" id="room_name" name="room_name" class="form-control" placeholder="영어와 숫자만 입력 가능합니다. 빈칸도 ㄴㄴ!">
            <span class="input-group-text">최대인원</span>
            <select id="max_count" name="max_count" class="form-select">
              <option value="2" selected>2명</option>
              <option value="3">3명</option>
              <option value="4">4명</option>
            </select>
        </form>
        <input type="button" id="room-name-submit" class="btn btn-outline-primary mt-2" value="Enter">
    </div>
    <div class="container p-4 p-md-3">
        방 목록 <button type="button" id="btn_room_list" class="btn btn-primary" onClick="fnc_room_refresh();">새로고침</button>
        <div id="onlinerooms" class="row">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script>
    const username = document.getElementById('username');
    const onlinerooms = document.getElementById('onlinerooms');
    const xmlhttp = new XMLHttpRequest();

    window.onload = function(){
        fnc_room_refresh();
    }

    username.value = localStorage.getItem("username");
    username.addEventListener('input', () => {
        localStorage.setItem("username", username.value);
    });

    document.querySelector('#room-name-submit').onclick = function(e) {
        let nm = username.value;
        if(!nm){
            alert('이름을 입력하세요');
            username.focus();
            return false;
        }
        var roomName = document.querySelector('#room_name').value;
        var roomMax = document.querySelector('#max_count').value;
        const korean = /^[A-Za-z0-9]+$/;
        if(!korean.test(roomName)){
            alert("영어와 숫자만 입력 가능합니다. 띄어쓰기도 안됨!");
            document.querySelector('#room_name').value = "";
            document.querySelector('#room_name').focus();
            return false;
        }
        document.getElementById('uuid').value = localStorage.getItem("uuid");
        document.getElementById('loby_form').submit();
        //window.location.pathname = '/chat/' + roomName + '/';
    };

    function fnc_xmlhttp(url, params, type){
        xmlhttp.onreadystatechange = function(){
            if (xmlhttp.readyState == XMLHttpRequest.DONE){
                if (xmlhttp.status == 200) {
                    let result = JSON.parse(xmlhttp.response);
                    if(result.result){
                        if(type == 'room_list'){
                            fnc_room_list(result.res);
                        }
                        if(type == 'room_knock'){
                            fnc_room_submit(result)
                        }
                    }else{
                        alert(result.mess);
                    }
                }else{
                    alert("code:"+xmlhttp.status+"\n"+"error:"+xmlhttp.statusText);
                    console.log("code:"+xmlhttp.status+"\n"+"error:"+xmlhttp.statusText);
                }
            }
        };
        xmlhttp.open("POST", url, true);
        xmlhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
        xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(params));
    }

    function fnc_room_refresh(){
        fnc_xmlhttp("{% url 'chat:room_list' %}",null,"room_list");
    }

    function fnc_room_list(params){
        onlinerooms.innerHTML = '';

        if(params.length > 0){
            params.forEach(el => {
                let button = '';
                if(el.user_count>=el.max_count){
                    button = `<button type="button" class="btn btn-primary btn-lg" disabled>접속</button>`;
                }else{
                    button = `<button type="button" class="btn btn-primary btn-lg" onClick="fnc_room_knock('${el.id}')">접속</button>`;
                }
                onlinerooms.innerHTML += `
                    <div id="${el.room_name}_${el.id}" class="col-sm-4 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">${el.room_name}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">인원수 : ${el.user_count} / ${el.max_count}</h6>
                                ${button}
                            </div>
                        </div>
                    </div>
                `;
            })
        }else{
            onlinerooms.innerHTML ='<p id="no_room" class="">방이 없습니다.</p>';
        }
    }

    function fnc_room_knock(room_id){
        let nm = username.value;
        if(!nm){
            alert('이름을 입력하세요');
            username.focus();
            return false;
        }
        let params = {
            "room_id":room_id,
            "uuid":localStorage.getItem("uuid")
        }
        fnc_xmlhttp("{% url 'chat:room_knock' %}",params,"room_knock");
    }

    function fnc_room_submit(res){
        localStorage.setItem("uuid", res.uuid);
        if(res.enter){
            document.getElementById('room_id').value = res.room_id;
            document.getElementById('uuid').value = res.uuid;
            document.getElementById('loby_form').submit();
            //window.location.pathname = "{% url 'chat:room' %}";
        }else{
            alert(res.mess);
            fnc_room_refresh();
        }
    }
</script>
{% endblock %}
